body {
  font-family: "Montserrat";
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}
p {
  color: #8f8f8f;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.testimonial-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.price-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
.features-heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.price-big-heading {
  font-size: 1.5rem;
  font-weight: bold;
}
.container-fluid {
  padding: 7% 15%;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: normal;
}
.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.photo {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
.download-button {
  margin: 5% 3% 5% 0;
}
.image {
  color: #ef8172;
  margin-bottom: 1rem;
}
.image:hover {
  color: #ff4c68;
}

.feature-box {
  padding: 5%;
}

.carousel-item {
  padding: 3% 25%;
}

.logo {
  width: 10%;
  margin: 20px 20px 50px;
}
.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.space {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .photo {
    position: static;
    transform: rotate(0);
  }
}
.awicon {
  margin: 20px;
}
.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: white;
}
#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}
#features {
  position: relative;
}
#testimonials {
  background-color: #ef8172;
  color: white;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
#pricing {
  padding: 100px;
}
